{% load staticfiles %}
<footer>
  <div class="container">
    <div class="asides clearfix">
      <h1>Our Info.</h1>
      <aside>
        <nav>
          <ul>
            <li>Tell: (02)1234-5678</li>
            <li><a href="https://www.google.com.tw/maps/place/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%B8/@25.0130727,121.5394628,17z/data=!3m1!4b1!4m5!3m4!1s0x3442aa2176c4c0ad:0x90db5e44ee29f455!8m2!3d25.0130679!4d121.5416515?hl=zh-TW">Location: 10607台北市大安區基隆路4段43號</a></li>
          </ul>
        </nav>
      </aside>
      
      <aside class="logo">
        <a href="https://www.google.com.tw/maps/place/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%B8/@25.0130727,121.5394628,17z/data=!4m5!3m4!1s0x3442aa2176c4c0ad:0x90db5e44ee29f455!8m2!3d25.0130679!4d121.5416515?hl=zh-TW"><img alt="NTUST logo" onerror="this.src=logo-alt.png" src="{% static 'img\icon\ntust.png' %}"></a>
      </aside>
    </div>
    <div class="copyright">
      <small>
      &copy; Taiwan Tech. Web Development Team 6
      </small>
    </div>
  </div>
  </footer><!-- /footer -->