{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- title and meta -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="description" name="In this tutorial, we take a look at a more advanced parallax scrolling effect with a background image moving at a different speed to the content above it.">
    <title>謦菜莢。</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- js -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
      table#t01, th#t01, td#t01 {
        border: 1px solid white;
        }
    </style>
    <!-- js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'js/scrolling.js' %}"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="wrapper">
      <main>
      
      <section class="module parallax" style="background-image: url(/{{ recipe.image_set.all.0.image }});">
        <div class="container">
          <h1>{{ recipe.name }}</h1>
        </div>
      </section>
      <section class="module content">
        <div class="container">
          <h2>食材</h2>
          <table class="table">
            <thead>
              <tr>
                <th>食物</th>
                <th>適量</th>
              </tr>
            </thead>
            <tbody>
            {% for i in recipe.ingrediant_set.all %}
              <tr class="{% cycle 'success' 'danger' 'info' %}" >
                <td>{{ i.food }}</td>
                <td>{{ i.amount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      <section class="module parallax" style="background-image: url(/{{ recipe.image_set.all.1.image }});">
        <div class="container">
          <h2>步驟</h2>
          {% for s in recipe.step_set.all %}
          <p>{{ s.index }} {{ s.content }}</p>
          {% endfor %}
        </div>
      </section>
      <section class="module content">
        <div class="container">
          <h2 id="History">Comments</h2>
          {% if recipe.comment_set.all %}
            <p> 目前共有 {{ recipe.comment_set.all|length }} 條評價</p>
            <table id="t01", style="width:100%">
              <tr>
                <th>留言者</th>
                <th>時間</th>
                <th>評價</th>
                <th>回覆</th>
              </tr>
            {% for c in recipe.comment_set.all %}
              <tr>
                <td> {{ c.visitor }} </td>
                <td> {{ c.date_time | date:"F j, Y" }} </td>
                <td> {% if c.private %}
                        <p> PRIVATE CONTENTS </p>
                     {% else %}
                        {{ c.content }}
                     {% endif %}
                </td>
                <td> {% if c.reply %} {{ c.reply }} 
                     {% else %} 尚未回覆 
                     {% endif %}
                </td>
              </tr>
            {% endfor %}
            </table>
          {% else %}
            <p>無評價</p>
          {% endif %}

          <br /><br />

          <h2 id="Comment">I got QUESTIONS</h2> 
          {% for e in errors %}
            <p style="color:red;">{{ e }}</p>
          {% endfor %}

          <form id="comment_form" action="" method="post">
          {% csrf_token %}
            <table>
              <tr>
                <td> <label for="visitor">留言者：</label> </td>
                <td> <input id="visitor" type="text" name="visitor" value="{{visitor}}"> </td>
              </tr>
              <tr>
                <td> <label for="private">隱私：</label> </td>
                <td> <input type="radio" name="private" value="false" checked> 公開</td>
                <td> <input type="radio" name="private" value="true"> 隱藏</td>
              </tr>
              <tr>
                <td> <label for="content">評價：</label> </td>
                <td>
                  <textarea id="content" rows="10" cols="48" name="content">{{content}}</textarea>
                </td>
              </tr>
            </table>
            <a href="#History"><button type="submit" onclick="document.getElementById('comment_form').submit();">Submit!</button></a>
          </form>
        </div>
      </section>
      </main><!-- /main -->
      {% include 'footer.html' %}
      
      </div><!-- /#wrapper -->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <!-- js -->
      <script src="{% static 'js/demo.js' %}"></script>
      <!-- analytics -->
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34160351-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    </body>
  </html>