{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- title and meta -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="description" name="In this tutorial, we take a look at a more advanced parallax scrolling effect with a background image moving at a different speed to the content above it.">
    <title>Advanced Parallax Scrolling Effect</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- js -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- js -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="wrapper">
      <main>
      
      <section class="module parallax" style="background-image: url({% static 'img/recipe_pictures/1_1.png' %});">
        <div class="container">
          <h1>韓式泡菜豬肉炒雪麵</h1>
        </div>
      </section>
      <section class="module content">
        <div class="container">
          <h2>食材</h2>
          <table class="table">
            <thead>
              <tr>
                <th>食物</th>
                <th>適量</th>
              </tr>
            </thead>
            <tbody>
              <tr class="success">
                <td>蒟蒻雪麵</td>
                <td>300克</td>
              </tr>
              <tr class="danger">
                <td>韓式泡菜</td>
                <td>200克</td>
              </tr>
              <tr class="info">
                <td>豬肉片</td>
                <td>100克</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="module parallax" style="background-image: url({% static 'img/recipe_pictures/1_1.png' %});">
        <div class="container">
          <h2>步驟</h2>
          <p>1 準備食材 </p>
          <p>2 豬肉切小片、秀珍菇撕對半、玉米筍對半切。</p>
          <p>3 起熱鍋乾煎蒟蒻雪麵至表面乾燥即可起鍋。</p>
          <p>4 熱鍋後倒入約2湯匙沙拉油，待油微微冒煙後，將豬肉片、玉米筍及秀珍菇下鍋快炒30秒至肉片半熟。將蒟蒻雪麵及泡菜放入炒鍋中，攪拌均勻後，大火快炒至肉絲全熟，加醬油及砂糖拌勻後湯汁收乾即可。</p>
          <p> 5 簡單完成低熱量蒟蒻炒麵~</p>
        </div>
      </section>
      <section class="module content">
        <div class="container">
          <h2>I got QUESTIONS</h2>
          <p>Name:</p>
          <p>content:</p>
        </div>
      </section>
      </main><!-- /main -->
      {% include 'footer.html' %}
      
      </div><!-- /#wrapper -->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <!-- js -->
      <script src="{% static 'js/demo.js' %}"></script>
      <!-- analytics -->
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34160351-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
    </body>
  </html>